/* Css só para visual */

body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
	
}

button{

	background-color: #ddd;
	height: 2em;
	border: 1px #aaa solid;
}

button:hover{

	background-color: #eee;
}
button:active{

	background-color: #fff;
}